@font-face {
  font-family: 'Baloo 2';
  src: url('/src/fonts/Baloo2-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Baloo 2';
  src: url('/src/fonts/Baloo2-Bold.ttf') format('truetype');
  font-weight: 700;
}

.quiz-page {
  font-family: 'Baloo 2', 'Comic Sans MS', cursive;
  background: linear-gradient(135deg, #a8ff78, #78ffd6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 140px);
  padding: 20px;
  text-align: center;
  color: #2e6e3e;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.quiz-button {
  background: linear-gradient(135deg, #56ab2f, #a8e063);
  color: white;
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  margin: 40px 0px 40px 0px;
}

.quiz-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

.decor {
  font-size: 3rem;
  margin: 10px;
}

/* RESPONSIVO */
@media(max-width: 600px){
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .quiz-button {
    font-size: 1.2rem;
    padding: 15px 30px;
  }
}
