.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* centraliza todos os itens no desktop */
    align-items: center;
    padding: 20px 40px;
    background: linear-gradient(135deg, #11998e, #38ef7d, #d4fc79);
    color: #fff;
    font-family: 'Poppins', 'Nunito', sans-serif;
    box-shadow: 0 -4px 12px rgba(0,0,0,0.1);
    text-align: center;
    gap: 20px;
}

.footer-nav {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

.footer-link:hover {
    color: #2e6e3e;
}

.footer-counter {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #41a95b;
}

.footer-copy {
    flex-basis: 100%;
    text-align: center;
    font-size: 14px;
    color: rgb(0, 87, 0);
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        padding: 20px;
        gap: 15px;
    }

    .footer-counter {
        flex-direction: column;
        gap: 5px;
    }

    .footer-nav {
        gap: 15px;
    }
}
