.t1{
  text-align: center;
  margin-top: 30px;
  background-color: gold;
  
}

.p1{
  text-align: center;
  background-color: gold;
}

.img1-home{
  text-align: center;
  margin-top: 30px;
  background-color: aqua;
  height: 100px;
}

.img2-home{
  text-align: center;
  margin-top: 30px;
  background-color: orange;
  height: 100px;
}

.body-arv{
  text-align: center;
}